name: Tackle Operator E2E Tests

on: [pull_request,push]

jobs:
  minikube:
    name: K8S
    runs-on: ubuntu-latest
    env:
      tackle_ns: tackle
    steps:
      - name: Checkout
        uses: actions/checkout@v2.0.0

      - name: Setup Minikube-Kubernetes
        uses: manusa/actions-setup-minikube@v2.4.2
        with:
          minikube version: v1.21.0
          kubernetes version: 'v1.21.0'
          github token: ${{ secrets.GITHUB_TOKEN }}
          start args: ' --force --addons=ingress'

      - name: Setup Java 11
        uses: actions/setup-java@v1
        with:
          java-version: '11'

      - name: Build operator image and push it to the minikube docker host
        run: |
          cd ${{github.workspace}}
          ./mvnw clean package -Pnative -DskipTests \
              -Dquarkus.native.container-build=true \
              -Dquarkus.native.container-runtime=docker \
              -Dquarkus.container-image.build=true  \
              -Dquarkus.container-image.tag=test \
              -Dquarkus.container-image.push=false \
              -Dquarkus.container-image.group=konveyor \
              -Dquarkus.container-image.registry=quay.io
          minikube image load quay.io/konveyor/tackle-operator:test

      - name: Deploy operator
        run: |
          cd ${{github.workspace}}
          cd src/main/resources/k8s
          kubectl create namespace ${{env.tackle_ns}}
          kubectl apply -f crds/crds.yaml -n ${{env.tackle_ns}}
          sed "s/{user}/konveyor/g" operator.yaml | kubectl apply -n ${{env.tackle_ns}} -f -

      - name: Sleep for 10 seconds to allow operator to start
        uses: jakejarvis/wait-action@master
        with:
          time: '10s'

      - name: Create tackle
        run: |
          cd ${{github.workspace}}
          cd src/main/resources/k8s
          kubectl apply -f tackle/tackle.yaml -n ${{env.tackle_ns}}

      - name: Sleep for 30 seconds to allow objects to be created
        uses: jakejarvis/wait-action@master
        with:
          time: '30s'

      - name: Check number of k8s objects created by operator
        id: getobjects
        run: |
          test "4" = "$(kubectl get pvc -n ${{env.tackle_ns}} -o name | wc -l)"
          test "10" = "$(kubectl get pods -n ${{env.tackle_ns}} -o name | wc -l)"
          test "9" = "$(kubectl get service -n ${{env.tackle_ns}} -o name | wc -l)"
          test "10" = "$(kubectl get deployments -n ${{env.tackle_ns}} -o name | wc -l)"
        shell: bash {0} -x -e

      - name: All pods are ok ?
        id: checkpods
        shell: bash {0} -x -e
        run: |
          test "10" = "$(kubectl get pods -n ${{env.tackle_ns}} -o json  | jq -r '.items[] | select(.status.phase == "Running" or ([ .status.conditions[] | select(.type == "Ready" and .status == true) ] | length ) == 1 ) | .metadata.namespace + "/" + .metadata.name' | wc -l)"

      - name: Do requests to check services are OK
        id: checkservices
        run: |
          minikube_ip=$(minikube ip)
          access_token=$(curl -X POST http://$minikube_ip/auth/realms/tackle/protocol/openid-connect/token \
              --user backend-service:secret -H 'content-type: application/x-www-form-urlencoded' \
              -d 'username=tackle&password=password&grant_type=password' | jq --raw-output '.access_token' )
          test "200" = "$(curl --write-out "%{http_code}\n" --silent --output /dev/null -X GET "http://$minikube_ip:/pathfinder/assessments/risk" \
                      -d "[{'applicationId':1}]" \
                      -H "Content-Type: application/json" -H "Accept: application/json" -H "Authorization: Bearer $access_token")"

          test "200" = "$(curl --write-out "%{http_code}\n" --silent --output /dev/null -X GET "http://$minikube_ip/application_inventory/adoptionplan" \
                      -d "[{'applicationId':1}]" \
                      -H "Content-Type: application/json" -H "Accept: application/json" -H "Authorization: Bearer $access_token")"

          test "200" = "$(curl --write-out "%{http_code}\n" --silent --output /dev/null -X GET "http://$minikube_ip/controls/business-service" \
                      -H "Content-Type: application/json" -H "Accept: application/json" -H "Authorization: Bearer $access_token")"
        shell: bash

